 .p-style {
      width:500px;
      height: 200px;
      /* float: left !important;  */
      padding-bottom: 50%;
      margin-left:40%!important;
      margin-right:8%;
      padding-right: 0;
  } 