/* .col-md-6 > .list-group-item {
    padding-bottom: 10px;
    margin-top: 25px;
};

.inventory-img {
        height: 100% !important;
        width: 100% !important;
        border-style: none;
        text-align: center;
        margin-left: auto;
        display: block;
        margin-right: auto;  
};

.item-img {
    height: 100% !important;
    width: 100% !important;
    border-style: none;
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}; */

/* .add-items {
    margin-left: 30% !important;
} */

.item-img {
    height: 80% !important;
    width: 80% !important;
    border-style: none;
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
    overflow-y: hidden!important  
}