.col-md-6 > .list-group-item {
    padding-bottom: 10px;
    margin-top: 25px;
}
.inventory-img{
        height: 100% !important;
        width: 100% !important;
        border-style: none;
        text-align: center;
        margin-left: auto;
        display: block;
        margin-right: auto;  
}