.page-footer{
    background-color:#008cba!important;
    max-height:8px!important;
    padding-top: 0px;
    padding-bottom: 60px!important
}
.footer-copyright{
   font-size: 10px;
   float: right;
   margin-bottom:100px
}
h5{
    font-size: 12px;
    color: white;
}
.responsive-image {
    height: 30px!important;
    width: 30px!important;
    padding-bottom: 0;
}