
 .page-footer{
    width:100%!important;
    padding-top: 0px;
    padding-bottom: 40px!important;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll!important;
    background-position: 0% 0%!important;
    /* position: fixed!important; */
    bottom: 0pt!important;
    left: 0pt!important;
    margin:auto!important }

    