img{
    height: 400px!important;
    width:400px!important;
}
.carousel {
    position: inherit!important;
    margin-top: 0!important;
    width: 500px!important;
    float:right!important

  }
  .p-style {
      width:500px;
      float: left !important;
      margin-left: 9%
  }
  .style-container{
      margin-bottom:40%;
  }

  /* .carousel-inner {
    position: relative;
    width: 100%;
  }   */