img.bracelet-img {
    height:200px!important;
    width:200px!important;
    border-style: none;
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
    overflow-y: hidden!important 
}
.list-overflow-container{
    overflow-y: hidden!important;
    
}
li.list-group-item{
    margin-top: 10%
}