
.fluid-container {
    overflow-y:hidden!important;
};

.allimg {
    border-style: none;
    text-align: center;
    display: block;
    object-fit: cover;
};

h1.toy-title {
    padding-left: 60%!important;
};  
.list-group-item{
    height:200px!important;
    width:200px!important;

}
img.allimg{
    height:200px!important;
    width:200px!important
}
/* div.jumbotron{
    margin-left: 20%!important;

} */
/* .row{
    margin-left: 12%;
}  */