.all-img {
    height: 90% !important;
    width: 90% !important;
    border-style: none;
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
    overflow-y:hidden!important;
};

