.teether-img{
    height: 100% !important;
    width: 100% !important;
    border-style: none;
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
    overflow-y: hidden!important;
    overflow: hidden!important;
}
.list-overflow-container{
    overflow-y: hidden!important;
}